*{
  padding: 0;
  margin: 0;
}

.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

#slider{
  width: 750px;
  position: relative;
  list-style: none;
}

#slider img{
  width: 100%;
  position: absolute;
}

.slide{
  opacity: 1;
  transition: opacity 0.7s ease;
}

.arrows{
  position: absolute;
  width: 750px;
  top: 30%;
}

.arrow{
  position: absolute;
  width: 36px;
  background-color: white;
  opacity: 0.2;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.arrow:hover{
  opacity: 0.7;
}

.next{
  right: 0;
}

.opacity_zero{
  opacity: 0;
}
