@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Concert+One');

*{
  padding: 0;
  margin: 0;
  background-color: #0a1f3f;
}

.app__name{
  margin-top: 40px;
  color: white;
  font-family: 'Fredoka One', cursive;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-app{
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.todo__input{
  width: 600px;
  font-size: 30px;
  font-family: 'Concert One', cursive;
  color: white;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-bottom: 1.5px solid white;
}

.todo__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo--add{
  text-decoration: none;
  color: grey;
  font-size: 26px;
  transition: 0.2s all ease;
  margin-right: 15px;
}

.todo--add:hover{
  color: white;
}

.todo--clean{
  text-decoration: none;
  color: grey;
  font-size: 26px;
  transition: 0.2s all ease;
}

.todo--clean:hover{
  color: white;
}

.todo_list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.list__element{
  color: white;
  font-size: 26px;
  font-family: 'Concert One', cursive;
  width: 600px;
}

.todo--delete{
  text-decoration: none;
  color: grey;
  font-size: 26px;
  transition: 0.2s all ease;
  margin-left: 15px;
}

.todo--delete:hover{
  color: white;
}
